
.vs/Vulkan02/v17/ipch/AutoPCH/fd76f19bd8726977/SYSTEMINFO.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/d24022d345c2f33c/CAMERA.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/bf8b71f02009bc91/TRANSFORM.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/9ccc14e4f079855f/SHADER.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/5983b3d7f5b093ae/PSO.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/50bb21b69dfa06d9/CONSTANTBUFFER.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/4794d3193de71d0f/MAIN.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/416857405870e1aa/SYSTEMINFO.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/217e2713914e36d6/VULKANAPP.ipch
.vs/Vulkan02/v17/ipch/AutoPCH/1c6396806db22fdb/MESH.ipch
.vs/Vulkan02/v17/HierarchyCache.v1.txt
.vs/Vulkan02/v17/fileList.bin
.vs/Vulkan02/v17/Browse.VC.db
.vs/Vulkan02/v17/.suo
.vs/Vulkan02/project-colors.json
.vs/SocoAppVk/v17/ipch/AutoPCH/fff0176ffaa0353e/MAIN.ipch
.vs/SocoAppVk/v17/fileList.bin
.vs/SocoAppVk/v17/Browse.VC.opendb
.vs/SocoAppVk/v17/Browse.VC.db-wal
.vs/SocoAppVk/v17/Browse.VC.db-shm
.vs/SocoAppVk/v17/Browse.VC.db
.vs/SocoAppVk/v17/.suo
x64/Debug/main.obj
x64/Debug/Mesh.obj
x64/Debug/PSO.obj
x64/Debug/Shader.obj
x64/Debug/SocoAppVk.exe
x64/Debug/SocoAppVk.exe.recipe
x64/Debug/SocoAppVk.ilk
x64/Debug/SocoAppVk.pdb
x64/Debug/SocoAppVk.tlog/CL.command.1.tlog
x64/Debug/SocoAppVk.tlog/CL.read.1.tlog
x64/Debug/SocoAppVk.tlog/CL.write.1.tlog
x64/Debug/SocoAppVk.tlog/link.command.1.tlog
x64/Debug/SocoAppVk.tlog/link.read.1.tlog
x64/Debug/SocoAppVk.tlog/link.write.1.tlog
x64/Debug/SocoAppVk.tlog/SocoAppVk.lastbuildstate
x64/Debug/spirv_reflect.obj
x64/Debug/SystemInfo.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/vk_format_utils.obj
x64/Debug/Vulkan02.Build.CppClean.log
x64/Debug/Vulkan02.exe
x64/Debug/Vulkan02.exe.recipe
x64/Debug/Vulkan02.exp
x64/Debug/Vulkan02.ilk
x64/Debug/Vulkan02.lib
x64/Debug/Vulkan02.log
x64/Debug/Vulkan02.pdb
x64/Debug/Vulkan02.tlog/CL.command.1.tlog
x64/Debug/Vulkan02.tlog/CL.read.1.tlog
x64/Debug/Vulkan02.tlog/CL.write.1.tlog
x64/Debug/Vulkan02.tlog/link.command.1.tlog
x64/Debug/Vulkan02.tlog/link.read.1.tlog
x64/Debug/Vulkan02.tlog/link.write.1.tlog
x64/Debug/Vulkan02.tlog/Vulkan02.lastbuildstate
x64/Debug/Vulkan02.tlog/Vulkan02.write.1u.tlog
x64/Debug/Vulkan02.vcxproj.FileListAbsolute.txt
x64/Debug/VulkanApp.obj
